#parrafo1{
    color: rgb(88, 88, 207);
}

#subrayado1{
 color: rgb(224, 26, 26);
}

#sombreado1{
    background-color: rgb(241, 154, 4);
}

#subrayado2{
   color: rgb(224, 26, 26);
}

#subrayado3{
   color: rgb(224, 26, 26);
}

#sombreado2{
    background-color: rgb(241, 154, 4);
}

#sombreado3{
    background-color: rgb(241, 154, 4);
}


