#Navbar{background-color: rgb(103, 239, 130);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#Section1{background-color: red;
    color: white;
    padding: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
#bloque{margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}
#Section2{background-color: orange;
    color: white;
    padding: 30px;
    text-align: center;
    width: 50%;
    float: left;
    box-sizing: border-box;

}
#Section3{background-color: pink;
    color: white;
    padding: 30px;
    text-align: center;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
#Footer{background-color: rgb(48, 48, 254);
    color: white;
    padding: 30px;
    margin-top: 10px;
    text-align: center;
}